body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
   }

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

/* header logo */
.navi{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #4d5ae5
}
.studio{color: #2e2f42;}

.navigation{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.navigation .text-navi:hover,
.navigation .text-navi:focus{
    color: #404bbf;
}

.navigation .contacts{
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5; 
    letter-spacing: 0.02em;

    color: #434455;
}

/* section 1 hero */
.title{
    background-color: #2e2f42;
}
.title .hero{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07; 
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}
.title .button-hero{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    }
.title .button-hero:hover,
.title .button-hero:focus{
    background-color:  #404BBF;
}
   
    /* h2 */
.title-display{
    display: none;
}

    /* section 2 */
.title-text .title-text-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    color: #2E2F42;
    }

.title-text .text-title-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #2E2F42;
    }

    /* section 3 */

    .name{
    text-transform: capitalize;
}

.team .team-all{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.name{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    letter-spacing: 2%;
    text-align: center;
    color: #2E2F42;
}
.team .work{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 2%;
    text-align: center;
    color: #434455;
}

/* section footer */
.footer{
    background-color: #2e2f42;
}
.footer .logo{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#F4F4FD;
    
}
.footer .studio{color: #4D5AE5;}

.footer .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #F4F4FD;
}