body{
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
   }
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

/* header logo*/
.navigation .logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    color: #2E2F42
}
.navigation .web{color:#4D5AE5;}

.navigation .navi{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 2%;
    color: #2E2F42;
}

.navigation .contacts{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 2%;
    color: #434455;
}

/* section hero */

.title .hero{
    font-weight: 700;
    font-size: 56px;
    line-height: 60px; 
    letter-spacing: 2%;
    color: #FFFFFF;
    background-color:#2E2F42;
}
.title .button-hero{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 4%;
    color: #FFFFFF;
    background-color: #4D5AE5;
    }

    /* h2 */
.title-display{
    display: none;
}

    /* section 1 */
.title-text .title-text-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    letter-spacing: 2%;
    color: #2E2F42;
    }

.title-text .text-title-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    letter-spacing: 2%;
    color: #2E2F42;
    }

    /* section 2 */
.team{
    background-color: #F4F4FD;
}

.team .team-all{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px; 
    letter-spacing: 2%;
    text-align: center;
    color: #2E2F42;
}
.team .name{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    letter-spacing: 2%;
    text-align: center;
    color: #2E2F42;
}
.team .work{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 2%;
    text-align: center;
    color: #434455;
}

/* section footer */
.footer{
    background-color: #2E2F42;
}
.footer .logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    color: #F4F4FD;
    
}
.footer .web{color:#4D5AE5;}

.footer .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 2%;
    color: #F4F4FD;
}